.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.file {
  padding: 10px;
}

.title {
	text-align: center;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

.wrapper {
	border: 1px solid black;
	padding: 20px;
}

.d-block {
	display: block;
}

.w-100 {
	width: 100%;
}

.error {
	color: crimson;
}